/* Reset */
body {
    margin: 0;
}

/* Header */
header {
    background-color: #e7e7e7;
}

header>ul {
    font-family: 'Montserrat';
    color: black;
    margin: auto;
    width: 50%;
}

header p,
footer p {
    font-size: 18px;
    font-weight: normal;
}

header h1,
footer h1 {
    font-size: 60px;
    font-weight: unset;
    font-family: 'Modak';
    text-align: center;
}

header h2,
footer h2 {
    font-size: 26px;
    font-weight: 400;
}

h2 {
    font-family: 'Inter';
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

a {
    color: unset;
    cursor: pointer;
    text-decoration: unset;
}

header ul,
footer ul {
    display: flex;
    list-style-type: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
}

header li,
footer li {
    display: unset;
    text-align: -webkit-match-parent;
}

/* Body */
main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container {
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow: visible;
    flex-direction: row;
}

.container article {
    flex: 0 0 33.333333%;
}

description {
    display: block;
    margin-top: 5%;
    margin-bottom: 10%;
}

.name {
    font-family: 'Inter';
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.description {
    font-family: 'Inter';
    color: #787878;
    font-size: 15px;
    font-weight: 400;
}

.squadImage {
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    max-height: 300px;
    min-height: 300px;
    background-color: #D6EAEE;
}

/* Footer */
footer {
    display: none;
    /* Footer niet zichtbaar */
}

.phone,
.white {
    display: none;
}

.disabled {
    display: none;
}

@media (max-width: 800px) {

    /* Vanaf de breedte 800px wordt het volgende gedaan */
    .container article {
        flex: 50%;
    }

    .container article:nth-child(21),
    .container article:nth-child(22) {
        margin-bottom: 20%;
    }

    header h2 {
        display: none;
    }

    .phone {
        display: unset;
    }

    .white {
        display: unset;
        height: 30px;
    }

    footer {
        /* Footer zichtbaar voor mobiel */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #2A2A2A;
        color: white;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        overflow: visible;
        flex-direction: row;
    }

    footer ul {
        padding-top: 1.5em;
        padding-bottom: 1em;
    }

    footer>ul {
        font-family: 'Inter';
        color: white;
        margin: auto;
        width: 50%;
    }

    footer ul li {
        color: white;
        font-size: 130%;
    }
}

@media (max-width: 580px) {

    /* Voor schermen onder 580pixels breed */
    .squadImage {
        object-fit: cover;
        /* Image resizen en fixen */
        max-height: 250px;
        min-height: 250px;
    }

    .description {
        font-size: 12px;
    }
}