/* Reset */
body {
    margin: 0;
}

/* Header */
header {
    background-color: #e7e7e7;
}

header>ul {
    font-family: 'Montserrat';
    color: black;
    margin: auto;
    width: 50%;
}

header p {
    font-size: 18px;
    font-weight: normal;
}

header h1 {
    font-size: 60px;
    font-weight: unset;
    font-family: 'Modak';
    text-align: center;
}

header h2 {
    font-size: 26px;
    font-weight: 400;
}

a {
    color: unset;
    cursor: pointer;
    text-decoration: unset;
}

header ul {
    display: flex;
    list-style-type: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
}

header li {
    display: unset;
    text-align: -webkit-match-parent;
}

/* Body */
main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.imageContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow: visible;
    flex-direction: row;
    background-color: #D6EAEE;
}

.textContainer {
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow: visible;
    flex-direction: row;
    background-color: white;
}

.imageContainer article {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.textContainer article {
    width: 300px;
}

/* TEST */
.testContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow: visible;
    flex-direction: row;
    background-color: #D6EAEE;
    margin-bottom: 50%;
}

.testContainer article {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.testContainer article description {
    margin-top: 3em;
    background-color: white;
    width: 100%;
}

.name {
    font-family: 'Inter';
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.description {
    font-family: 'Inter';
    color: #787878;
    font-size: 15px;
    font-weight: 400;
}

.squadImage {
    width: 100%;
    overflow: hidden;
    object-fit: cover;

    /* Test */
    max-height: 300px;
}

/* Footer */